#dot {
  height: 20px; 
  width: 20px;
  background-color: red;
}
.mole-hole{
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  background-size: 100% 100%;
}
.mole-pic {
  height: 100%;
  width: 100%;
}