.game-board{
  margin-top: 30px;
}
.mole-hole{
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  background-size: 100% 100%;
}
.mole-pic {
  height: 100%;
  width: 100%;
}

button {
  margin-bottom: 20px;
}